.menu-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.screen-container{
    display: block;
    position: relative;
    
    min-height: 100vh;
    z-index:52;
}

.select-interface{
    position: relative;
    padding: 5vh 20px;
    width:70vw;
    z-index:51;
    overflow: scroll;
}

.select-interface header{
    height: 12vh;
}

.logo-mcdo{
    width: 50px;
    transform: rotate(180deg);
}

.title{
    margin: 0 0 20px 0;
    font-size: 22px;
}

