.menu-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.screen-container{
    display: block;
    position: relative;
    
    min-height: 100vh;
    z-index:52;
}

.select-interface{
    position: relative;
    padding: 5vh 20px;
    width:70vw;
    z-index:51;
    overflow: visible;
}

.select-interface header{
    height: 12vh;
}



.logo-mcdo{
    display: block;
    position: absolute;
    top:50vh;
    left:50vw;
    width: 50px;
    
    
    /*transform: translate(50vw,50vh) rotate(180deg) scale(5);*/
    transform: translate(-50%,-50%) scale(5);
    animation: animWcDo 3s cubic-bezier(.9,-0.01,.96,.97) forwards;
}

@keyframes animWcDo{
    0%{
        transform: translate(-50%,-50%) scale(5);
        opacity:0;
    }
    33%{
        opacity:0.5;
    }
    100%{
        transform: rotate(180deg) translate(0);
        left: 20px;
        top:5vh;
    }
}

.title{
    margin: 0 0 20px 0;
    font-size: 22px;
}


@media only screen and (min-width: 937px){
    .select-interface{
       width: auto;
       margin-right: 200px;
       padding-left: 6vw;
    }

    .menu-list{
        justify-content: start;
    }

    .logo-mcdo{
        position: static;
        transform: rotate(180deg);
        animation: none;
    }
}

