<main class="screen-container">
  <section class="payment-interface">
    <app-payment></app-payment>
  </section>

  <section class="select-interface">
    <header>
      <img src="../assets/icons/mcdonalds.png" class="logo-mcdo" />
    </header>
    

    <p class="title"><strong>Hey, </strong><br />What's up ?</p>

    <div class="menu-list">
      <app-card-menu *ngFor="let x of getMenu()" [item]="x"></app-card-menu>
    </div>

    <h2 class="title">Popular</h2>

    <div class="menu-list">
      <app-card-product *ngFor="let x of getProduct()" [item]="x"></app-card-product>
    </div>
  </section>
  <app-sidebar></app-sidebar>
</main>

