<form class="payment-form">
        
        <div class="total">
                <span class="totalLabel">Total :</span>
                <span class="totalAmount">{{total | currency:'USD'}}</span>
        </div>

        <label class="labelHolder" for="holder">Holder Name :</label>
        <input class="inputHolder" id="holder" type="text" name="holderName"
                [(ngModel)]="holderName"
                autocomplete="off"
        />


        <label class="labelCredit" for="ccn">Credit Card Number:</label>
        <input class="inputCredit" id="ccn" type="text" inputmode="numeric" name="ccn"
                placeholder="xxxx xxxx xxxx xxxx"
                [(ngModel)]="credit" 
                [mask]="'0 0 0 0 - 0 0 0 0 - 0 0 0 0 - 0 0 0 0'"
                [showMaskTyped]="true"
                autocomplete="off"
        />


                
                        <span class="spanExpiry">Expiry Date:</span>
                        
                        <select class="month" id="expiresMonth" name="expiresMonth">
                                <option *ngFor="let x of months" value="x">{{x}}</option>
                        </select>

                        
                        <select class="year" id="expiresYear" name="expiresYear">
                                <option *ngFor="let x of years" value="x">{{x}}</option>
                        </select>
                        
                
                
                
                <label class="labelCvc" for="cvc">CVC : </label>
                        <input class="cvc" id="cvc" type="text" inputmode="numeric" name="cvc"
                                [(ngModel)]="cvc"
                                [mask]="'0 0 0'"
                                [showMaskTyped]="true"
                                autocomplete="off"
                        />

                <button type="submit" class="pay">Pay</button>
                <button class="close">Cancel</button>
</form>
        



