<form class="payment-form">
        <label for="holder">Holder Name :</label>
        <input id="holder" type="text" 
                [(ngModel)]="holderName"
                autocomplete="off"
        />


        <label for="ccn">Credit Card Number:</label>
        <input  id="ccn" type="text" inputmode="numeric" 
                placeholder="xxxx xxxx xxxx xxxx"
                [(ngModel)]="credit" 
                [mask]="'0000-0000-0000-0000'"
                [showMaskTyped]="true"
                autocomplete="off"
        />

        <div>
                <label for="expiresMonth">Month:</label>
                <select id="expiresMonth" name="expiresMonth">
                        <option *ngFor="let x of months" value="x">{{x}}</option>
                </select>

                <label for="expiresYear">Year</label>
                <select id="expiresYear" name="expiresYear">
                        <option *ngFor="let x of years" value="x">{{x}}</option>
                </select>
        </div>


        <label for="cvc">CVC : </label>
        <input id="cvc" type="text" inputmode="numeric"
                [(ngModel)]="cvc"
                [mask]="'000'"
                [showMaskTyped]="true"
                autocomplete="off"
        />
</form>
        



