<div class="sidebar">
    <header>
        <span class="fi fi-us flag-style"></span>
    </header>

    <h4>My Order</h4>
    <span>Take out</span>
    <div class="line"></div>

    <section class="order-list">
        <app-sidebar-item *ngFor="let x of basket" [item]="x"></app-sidebar-item>
    </section>
    
    <div class="line"></div>
    <footer>
        <span class="total">Total</span>
        <strong class="price">${{totalPrice}}</strong>
        <button class="button">Done</button>
    </footer>
</div>
