/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover{
    cursor: pointer;
}